{% extends './base.html' %}
{% block title %}Mantenimiento {% endblock %}
{% block body %}

<!-- Contenedor principal -->
    <!-- Div centrado con color llamativo y título -->
    <div class="text-center bg-primary text-white  ">
            <!-- Reducir el tamaño del título al 50% -->
            <h1 class="display-5">Mantenimiento Bancos</h1>
    </div>

<div class="row">
    <div class="col-md-3 mb-3">
      <label for="txtBank" class="form-label" >Bank Name:</label>
      <input type="text" class="form-control" id="txtBank" name="txtBank">
    </div>
</div>

<div class="row">
    <div class="col-md-3 mb-3">
      <button id="addRow" class="btn btn-primary mr-2">Add</button>
      <button id="editRow" class="btn btn-primary mr-2">Edit</button>
      <button id="delRow" class="btn btn-primary mr-2">Remove</button>
    </div>
</div>

 <div class="row">
     <div class="col-sm-12">
         <table id="table_id" class="display" style="width:100%">
             <thead>
             <tr>
                 <th>Code Bank</th>
                  <th>Bank Name</th>
             </tr>
             <tbody>
                {% for row in banks %}
                <tr>
                     <td>{{ row.IDBCO }}</td>
                    <td>{{ row.DESCRIPCION }}</td>
                </tr>
                {%  endfor %}
             </tbody>
             </thead>
         </table>
            </div>
     </div>
<script>

     $(document).ready(function () {
       var table= $('#table_id').DataTable({
            ordering:false
        } );
        var bank= $('#txtBank');
        var databank;
        var Idbco;

        $('#table_id tbody').on('click','tr',function(){
          if ($(this).hasClass('selected')){
              $(this).removeClass('selected');
          }
          else{
             table.$('tr.selected').removeClass('selected');
             $(this).addClass('selected');
             databank = table.row(this).data();
             bank.val(databank[1]);
             Idbco=databank[0];
          }
        });

        $('#addRow').on('click',function (e){
            e.preventDefault();
            var newBank = bank.val()
            //Verificar newBank tiene datos
            if (newBank.length >0){
                CRUD("", newBank, '/insert')
                //llamar funcion CRUD
                 ClearText();
            }else {
                console.error('La longitud de NewBank es cero o menor.');
            }
        });

        $('#editRow').on('click',function (){
           var newBank = bank.val()
            if (newBank.length >0){
                var selectedRow = table.row('.selected');
                CRUD(Idbco,newBank,'/update')
            }else {
                console.error('La longitud de NewBank es cero o menor.');
            }

        });

        $('#delRow').on('click',function (){
            var newBank = bank.val()
             if (newBank.length >0){
                Swal.fire({
                    title: "Desea remover el registro actual?",
                      showDenyButton: false,
                      showCancelButton: true
                }).then((result) => {
                    if(result.isConfirmed){
                       CRUD(Idbco,"",'/delete');
                       ClearText();
                    }
                });
             }
             else {
                console.error('La longitud de NewBank es cero o menor.');
             }
        });

        function ClearText(){
             bank.val("")
        }

        //JQUERY
        //AJAX => jAVAsCRIPT Asincrono y XML
        function CRUD (idbco, bank , url){
            var formData ={
                idbco: idbco,
                bank:bank
            };
           //Realizar solicitud AJAX  usando JQuey
           $.ajax({
                //configurar solicitud POST
                type:'POST',
                //Especificar la URL
                url: url,
                contentType: 'application/json;charset=UTF-8',
                //CONVERTIR obj a JSON
                data: JSON.stringify(formData),

                success: function (response) {
                    //Ejecucion correcta
                    Swal.fire({
                              icon: "info",
                              title: "Mantenimiento",
                              text: "Operación Realizada!",
                               willClose :  function () {
                                    window.location.href = '/allBanks';
                               }
                            });
            },
            //Funcion ejecuta en caso de error
            error: function (error){
                console.error('Error',error);
            }
        });
    };

    });
</script>

{% endblock %}